<div class="container mt-4">
  <h2 class="text-center mb-4">Reprint Your Bill Again!</h2>
  <form (ngSubmit)="searchInvoice()">
    <div class="mb-3">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Enter Invoice Number</mat-label>
        <input matInput [(ngModel)]="invoiceNumber" name="invoiceNumber" required>
      </mat-form-field>
    </div>

    <div class="text-center">
      <button mat-raised-button color="primary" class="btn btn-primary btn-lg" type="submit">Reprint Bill</button>
    </div>
  </form>
</div>