<div class="main">
  <div
    class="box d-flex flex-wrap col-12 col-md-10 shadow p-2 mb-5 bg-white rounded mx-auto"
  >
    <div class="col-12 col-md-5 text-center mb-3 mb-md-0">
      <img
        src="/assets/images/login.png"
        class="card_img img-fluid rounded"
        alt="..."
      />
    </div>
    <div class="col-12 col-md-6">
      <div class="card-body">
        <form>
          <h1 class="mt-4">Hello,<br />Welcome Back</h1>
          <p class="login">Hey,Welcome back to your sepical place</p>
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input
              type="text"
              name="username"
              [(ngModel)]="loginObj.username"
              class="form-control user"
              aria-describedby="username"
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              name="password"
              [(ngModel)]="loginObj.password"
              class="form-control user"
            />
          </div>
          <div class="mb-3 form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck1"
            />
            <label class="form-check-label" for="exampleCheck1"
              >Remember Me</label
            >
          </div>
          <button
            (click)="onLogin()"
            type="button"
            class="btn btn-primary w-100"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
